*.o
*.mod
Makefile
Makefile.in
aclocal.m4
afid
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
stamp-h1


imbdry_codes/ibm_param.F90

imbdry_codes/invtr1_ibm.F90

imbdry_codes/invtr2_ibm.F90

imbdry_codes/invtr3_ibm.F90

imbdry_codes/invtrro_ibm.F90

imbdry_codes/solq12k_ibm.F90

imbdry_codes/solq3k_ibm.F90

imbdry_codes/solrok_ibm.F90

imbdry_codes/topogr_ibm.F90
